.messageActive {
  background-color: rgba(74, 74, 74, 0.2);
}

a {
  text-decoration: none !important;
  color: #4a4a4a;
}

.todofont {
  font-family: 'Sansita Swashed', cursive;
  font-size: 20px;
  color: white;
}

#popup {
  font-size: 16px;
}

.headshot {
  width: 300px;
  height: 300px;
  border: 8px solid #62d886;
  border-radius: 100%;
}

.cell {
  width: 100px;
  height: 100px;
  margin: auto;
  border: solid 2px white;
  display: inline-block;
}

.blogpostfont {
  font-family: 'Balsamiq Sans', cursive;
}

.blogsearch:focus {
  outline: none;
}

.lightsoutfont {
  color: white;
  font-family: 'Pacifico', cursive;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.mainfont {
  font-family: 'Sansita Swashed', cursive;
}

.nav {
  font-family: 'Sansita Swashed', cursive;
  font-size: 30px;
  cursor: pointer;
  color: #175cae;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.activenav {
  opacity: 0.4;
  text-decoration: underline;
}

.todobackground {
  background: #119adf;
  background: linear-gradient(299deg, #119adf 0%, #b0d8ed 18%, #82c6e9 82%, #119adf 100%);
}

.todotitle {
  font-size: 60px;
}

.todoform {
  height: auto;
  width: 700px;
  background-color: #175b8e;
  -webkit-box-shadow: -15px -15px #358aca;
          box-shadow: -15px -15px #358aca;
}

.todolist {
  height: auto;
  min-height: 768px;
}

.todobtn {
  background-color: #175b8e !important;
  color: white !important;
  font-size: 25px !important;
  -webkit-box-shadow: -10px -10px #358aca;
          box-shadow: -10px -10px #358aca;
}

.tag {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: -50px;
  text-align: center;
  border: 5px solid #31a0c7;
  z-index: 2;
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 10px solid #31a0c7;
  -webkit-box-shadow: 5px 5px 10px #181818;
          box-shadow: 5px 5px 10px #181818;
}

.posthover:hover {
  -webkit-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.posthover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.blogpostbackground {
  background: #4f8baf;
  background: linear-gradient(299deg, #4f8baf 0%, #f0fdf5 12%, #c6eef7 41%, #aef4c9 70%, #4f8baf 100%);
}

.robots {
  position: absolute;
  top: -50px;
  left: 0;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #61a0f1, 0 0 40px #61a0f1, 0 0 50px #61a0f1, 0 0 60px #61a0f1, 0 0 70px #61a0f1;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #61a0f1, 0 0 40px #61a0f1, 0 0 50px #61a0f1, 0 0 60px #61a0f1, 0 0 70px #61a0f1;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@-webkit-keyframes blueandpink {
  from {
    background-color: #61a0f1;
  }
  to {
    background-color: #ff4da6;
  }
}

@keyframes blueandpink {
  from {
    background-color: #61a0f1;
  }
  to {
    background-color: #ff4da6;
  }
}

@-webkit-keyframes pinkandblue {
  from {
    background-color: #ff4da6;
  }
  to {
    background-color: #61a0f1;
  }
}

@keyframes pinkandblue {
  from {
    background-color: #ff4da6;
  }
  to {
    background-color: #61a0f1;
  }
}

@media all and (min-width: 1024px) {
  .mainbackground {
    min-height: 1024px;
    height: 100vh;
    background-image: url("./background.jpg");
    background-size: 100%;
    background-position: center;
  }
  .section:hover {
    opacity: 0.6;
  }
  .nav {
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    cursor: pointer;
  }
  /* ----------------------------------------------------------------LightsOut---------------------------------------------------------------- */
  .lightsoutbuttons {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
  }
  /* ---------------------BlogPost-------------------- */
  .PostContainer {
    width: 350px;
    height: 400px;
    display: inline-block;
    position: relative;
  }
  /* --------------------------main-------------------------- */
  .mainbackground {
    height: 1000px;
    background-image: url("./background.jpg");
    background-size: 100%;
    background-position: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .lightsoutbuttons {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
  }
  .mainbackground {
    min-height: 1024px;
    height: 100vh;
    background-image: url("./background.jpg");
    background-size: 200%;
    background-position: center;
  }
  .PostContainer {
    width: 200px;
    height: 300px;
    display: inline-block;
    position: relative;
  }
  .nav {
    font-family: 'Sansita Swashed', cursive;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .mainbackground {
    min-height: 568px;
    height: 100vh;
    background-image: url("./background.jpg");
    background-size: 300%;
    background-position: center;
  }
  .headshot {
    width: 150px;
    height: 150px;
    border: 4px solid #62d886;
    border-radius: 100%;
  }
  #popup {
    font-size: 16px;
  }
  .nav {
    font-family: 'Sansita Swashed', cursive;
    font-size: 17px;
    cursor: pointer;
    color: 'black';
  }
  .todolist {
    height: auto;
    min-height: 600px;
    width: 100vw;
  }
  .todoform {
    height: auto;
    width: 80vw;
    background-color: #175b8e;
    -webkit-box-shadow: -5px -5px #358aca;
            box-shadow: -5px -5px #358aca;
  }
  .todofont {
    font-family: 'Sansita Swashed', cursive;
    font-size: 14px;
    color: white;
  }
  .todotitle {
    font-size: 30px;
  }
  .todobtn {
    background-color: #175b8e !important;
    color: white !important;
    font-size: 25px !important;
    -webkit-box-shadow: -10px -10px #358aca;
            box-shadow: -10px -10px #358aca;
  }
  .lightsoutfont {
    color: white;
    font-family: 'Pacifico', cursive;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
    font-size: 30px;
  }
  .lightsoutbuttons {
    font-family: 'Pacifico', cursive;
    font-size: 20px !important;
  }
  .cell {
    width: 50px;
    height: 50px;
    margin: auto;
    border: solid 2px white;
    display: inline-block;
  }
  .lightsout {
    height: 100vh;
    min-height: 700px;
  }
  .PostContainer {
    width: 150px;
    height: 200px;
    display: inline-block;
    position: relative;
  }
  .tag {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: -25px;
    left: -25px;
    text-align: center;
    border: 5px solid #31a0c7;
    z-index: 2;
    cursor: pointer;
  }
  .inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #181818;
            box-shadow: 5px 5px 5px #181818;
    border: 5px solid #31a0c7;
  }
  .robots {
    position: absolute;
    top: -10px;
    left: 0;
  }
  .blogpostfont {
    font-family: 'Balsamiq Sans', cursive;
  }
}

/* LoginPage */
@media all and (min-width: 514px) {
  .forgot {
    font-size: default;
    cursor: pointer;
  }
  .App {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .loginContainer {
    width: 500px;
    margin: auto;
  }
  .backgroundImg {
    position: absolute;
    bottom: -50px;
    height: 200px;
    width: 100%;
  }
  .inputContainer {
    width: 450px;
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(174, 174, 174, 0.5);
    position: relative;
  }
  .inputLabel {
    position: absolute;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    font-size: 12px;
    top: -15px;
    left: 10px;
    background-color: #25baef;
    color: white;
    display: none;
  }
  .inputIconContainer {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .inputText {
    font-size: 20px;
    margin: 0;
  }
  .verticalCentered {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .textArea {
    height: 100%;
    border: none;
  }
  .textArea:focus {
    outline: none;
  }
  #email:focus-within {
    border: 2px solid #25baef;
  }
  #email:focus-within #emailLabel {
    display: block;
  }
  #password:focus-within {
    border: 2px solid #25baef;
  }
  #password:focus-within #passwordLabel {
    display: block;
  }
  .checkBox {
    width: 40px;
    height: 40px;
    bottom: -20px;
    right: -20px;
    border-radius: 100%;
    color: white;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #25baef;
  }
  .imageContainer {
    cursor: pointer;
    width: 200px;
    border: 3px solid rgba(174, 174, 174, 0.7);
    position: relative;
    border-radius: 3px;
    font-size: 20px;
  }
  .loginButton {
    width: 125px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #25baef;
  }
  .loginButton:hover {
    background-color: rgba(37, 186, 239, 0.8);
  }
  .loginFontWeight {
    font-weight: 500;
  }
  .blueTheme {
    color: #25baef;
  }
  .greyText {
    color: rgba(174, 174, 174, 0.7);
    font-size: 20px;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .loginContainer {
    width: 100vw;
    margin: auto;
  }
  .App {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .backgroundImg {
    position: absolute;
    z-index: -2;
    bottom: -50px;
    height: 200px;
    width: 100%;
  }
  .inputContainer {
    width: 80vw;
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(174, 174, 174, 0.5);
    position: relative;
    font-size: 15px;
  }
  .inputLabel {
    position: absolute;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    font-size: 12px;
    top: -15px;
    left: 10px;
    background-color: #25baef;
    color: white;
    display: none;
  }
  .inputIconContainer {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .forgot {
    font-size: 12px;
    cursor: pointer;
  }
  .inputText {
    font-size: 15px;
    margin: 0;
  }
  .verticalCentered {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .textArea {
    height: 100%;
    border: none;
  }
  .textArea:focus {
    outline: none;
  }
  #email:focus-within {
    border: 2px solid #25baef;
  }
  #email:focus-within #emailLabel {
    display: block;
  }
  #password:focus-within {
    border: 2px solid #25baef;
  }
  #password:focus-within #passwordLabel {
    display: block;
  }
  .checkBox {
    width: 30px;
    height: 30px;
    bottom: -15px;
    right: -15px;
    border-radius: 100%;
    color: white;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #25baef;
  }
  .imageContainer {
    padding: 5px !important;
    width: 120px;
    border: 3px solid rgba(174, 174, 174, 0.7);
    position: relative;
    border-radius: 3px;
  }
  .loginButton {
    width: 75px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #25baef;
  }
  .loginButton:hover {
    background-color: rgba(37, 186, 239, 0.8);
  }
  .loginFontWeight {
    font-weight: 500;
  }
  .blueTheme {
    color: #25baef;
  }
  .greyText {
    color: rgba(174, 174, 174, 0.7);
    font-size: 15px;
  }
}
/*# sourceMappingURL=App.css.map */