@media all and (min-width: 514px) {
  .forgot {
    font-size: default;
    cursor: pointer;
  }
  .App {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .loginContainer {
    width: 500px;
    margin: auto;
  }
  .backgroundImg {
    position: absolute;
    bottom: -50px;
    height: 200px;
    width: 100%;
    background-image: url('./components/images/img_town_370x170@3x.svg');
  }
  .inputContainer {
    width: 450px;
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(174, 174, 174, 0.5);
    position: relative;
  }
  .inputLabel {
    position: absolute;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    font-size: 12px;
    top: -15px;
    left: 10px;
    background-color: rgba(37, 186, 239, 1);
    color: white;
    display: none;
  }
  .inputIconContainer {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .inputText {
    font-size: 20px;
    margin: 0;
  }
  .verticalCentered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .textArea {
    height: 100%;
    border: none;
  }
  .textArea:focus {
    outline: none;
  }

  #email:focus-within {
    border: 2px solid rgba(37, 186, 239, 1);
  }
  #email:focus-within #emailLabel {
    display: block;
  }
  #password:focus-within {
    border: 2px solid rgba(37, 186, 239, 1);
  }
  #password:focus-within #passwordLabel {
    display: block;
  }
  .checkBox {
    width: 40px;
    height: 40px;
    bottom: -20px;
    right: -20px;
    border-radius: 100%;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(37, 186, 239, 1);
  }
  .imageContainer {
    cursor: pointer;
    width: 200px;
    border: 1px solid rgba(174, 174, 174, 0.7);
    position: relative;
    border-radius: 3px;
    font-size: 20px;
  }
  .loginButton {
    width: 125px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(37, 186, 239, 1);
  }
  .loginButton:hover {
    background-color: rgba(37, 186, 239, 0.8);
  }
  .loginFontWeight {
    font-weight: 500;
  }
  .blueTheme {
    color: rgba(37, 186, 239, 1);
  }
  .greyText {
    color: rgba(174, 174, 174, 0.7);
    font-size: 20px;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .loginContainer {
    width: 100vw;
    margin: auto;
  }
  .App {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .backgroundImg {
    position: absolute;
    z-index: -2;
    bottom: -50px;
    height: 200px;
    width: 100%;
    background-image: url('./components/images/img_town_370x170@3x.svg');
  }
  .inputContainer {
    width: 80vw;
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(174, 174, 174, 0.5);
    position: relative;
    font-size: 15px;
  }
  .inputLabel {
    position: absolute;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    font-size: 12px;
    top: -15px;
    left: 10px;
    background-color: rgba(37, 186, 239, 1);
    color: white;
    display: none;
  }
  .inputIconContainer {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .forgot {
    font-size: 12px;
    cursor: pointer;
  }
  .inputText {
    font-size: 15px;
    margin: 0;
  }
  .verticalCentered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .textArea {
    height: 100%;
    border: none;
  }
  .textArea:focus {
    outline: none;
  }

  #email:focus-within {
    border: 2px solid rgba(37, 186, 239, 1);
  }
  #email:focus-within #emailLabel {
    display: block;
  }
  #password:focus-within {
    border: 2px solid rgba(37, 186, 239, 1);
  }
  #password:focus-within #passwordLabel {
    display: block;
  }
  .checkBox {
    width: 30px;
    height: 30px;
    bottom: -15px;
    right: -15px;
    border-radius: 100%;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(37, 186, 239, 1);
  }
  .imageContainer {
    padding: 5px !important;
    width: 120px;
    border: 1px solid rgba(174, 174, 174, 0.7);
    position: relative;
    border-radius: 3px;
  }
  .loginButton {
    width: 75px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(37, 186, 239, 1);
  }
  .loginButton:hover {
    background-color: rgba(37, 186, 239, 0.8);
  }
  .loginFontWeight {
    font-weight: 500;
  }
  .blueTheme {
    color: rgba(37, 186, 239, 1);
  }
  .greyText {
    color: rgba(174, 174, 174, 0.7);
    font-size: 15px;
  }
}
